{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    注册
{% endblock %}

{% block footer %}
{% endblock %}

{% block extcss %}
    <link rel="stylesheet" href="{% static 'mine/css/register.css' %}">
{% endblock %}

{% block extjs %}
    <script src="{% static 'mine/js/register.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="register">
        <div class="back">
            <a href="{% url 'app:mine' %}">
                <span class=" glyphicon glyphicon-remove "></span>
            </a>
        </div>

        <form action="{% url 'app:register' %}" method="post">
            {% csrf_token %}


            <div class="form-group has-feedback" id="username">
                <div class="input-group">
                    <span class="input-group-addon">用户名</span>
                    <input type="text" class="form-control" placeholder="请输入用户名" name="username">
                </div>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            </div>


            <div class="form-group has-feedback" id="password">
                <div class="input-group">
                    <span class="input-group-addon">密码</span>
                    <input type="password" class="form-control" placeholder="6~10位数密码" name="password">
                </div>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            </div>


{#            <div class="form-group has-feedback" id="password-d">#}
{#                <div class="input-group">#}
{#                    <span class="input-group-addon">确认密码</span>#}
{#                    <input type="password" class="form-control" placeholder="6~10位数密码" id="password-t"#}
{#                           tabindex="0" data-toggle="popover" data-trigger="focus" data-placement="bottom"#}
{#                           data-content="两次密码不一致">#}
{#                </div>#}
{#                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>#}
{#            </div>#}


            <div class="form-group has-feedback" id="phone">
                <div class="input-group">
                    <span class="input-group-addon">手机号</span>
                    <input type="text" class="form-control" placeholder="请输入手机号" name="phone">
                </div>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            </div>
            <input type="submit" value="注册" id="subButton">
        </form>
    </div>
{% endblock %}